ion-content ion-toolbar {
  --background: translucent;
}

ion-slides {
      height: 100%;
    }
        .swiper-slide {
      display: block;
      overflow-y: scroll;
      scrollbar-width: none;
    }

    .swiper-slide h2 {
      margin-top: 2.8rem;
      overflow-y: scroll;
      display: block;
      scrollbar-width: none;
    }

    .swiper-slide img {
      max-height: 50%;
      max-width: 80%;
      margin: 60px 0 40px;
      pointer-events: none;
      overflow-y: scroll;
      scrollbar-width: none;
    }

    b {
      font-weight: 500;
    }

    p {
      padding: 0 40px;
      font-size: 14px;
      line-height: 1.5;
      color: var(--ion-color-step-600, #60646b);
    }

    p b {
      color: var(--ion-text-color, #000000);
    }

ion-button {
  text-transform:none,
}
ion-button {
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}