<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Listings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Listings</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-slides [options]="slideOpts">
    <ion-slide *ngFor="let listing of listings | async">
      <h2>{{ listing.title }}</h2>
      <br>
      <p>{{ listing.description }}</p>
      <br>
      <ion-button expand="block">CHAT!</ion-button>
    </ion-slide>
    <ion-slide>
      <h1>The end of the world...</h1>
      <p>Browse some more.</p>
      <br>
      <br>
      <ion-button size="large">Let's go!</ion-button>
    </ion-slide>
  </ion-slides>

</ion-content>